<h1>Nom de la série :
	{{ program.title }}
</h1>

<p>numéro de la saison :{{ seasons.number }}
</p>
<p>
	Numéro d'episode :
	{{ episode.number }}
	titre de l'épisode :
	{{ episode.title}}

</p>
<p>
	résumé de l'épisode :
	{{ episode.synopsis}}
</p>
